html {
  height: 100%;
}

body {
  color: white;
  background: black;
  height: 100%;
}

.container {
  width: 100%;
  height: 100vh;
}

.row{
  padding: 0;
  margin: 0;
  border: 1px solid #FFFFFF;
  border-bottom: none;
}

.col{
  padding: 0;
  margin: 0;
  border-right: 1px solid #FFFFFF;
  height: 100%;
  border-bottom: none;
}
